{% extends "layout.html" %} {% block body %} 


<div class="alert alert-secondary" role="alert">
  {% if no_songs%}
  <p>
    The following users haven't made any of their songs public yet:
  </p>

  <ul>
    {% for user in no_songs %}
    <li>
      {{user.username}}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>
    All users have made a song public, nice!
  </p>
  {% endif %}
</div>



<table class="table">
  <tr>
    <th>Song</th>
    <th>Artist</th>
    <th>Length (seconds)</th>
    <th></th>
  </tr>
  {% for song in songs %}
  <tr>
    <td>{{ song.name }}</td>
    <td>{{ song.artist }}</td>
    <td>{{ song.length }}</td>
    <td>
      <form method="GET" action="{{ url_for('songs_addtosetlist', song_id=song.id) }}">
          <button type="submit" class="btn btn-primary">Add to a setlist</button>
      </form>
    </td>

    {% if current_user_id == song.account_id %}
    <td>
      Public: {{ song.public }}
      <form method="POST" action="{{ url_for('songs_set_public', song_id=song.id) }}">
        <button type="submit" class="btn btn-dark">Change status</button>
      </form>
    </td>
    <td>
      <form method="GET" action="{{ url_for('songs_edit', song_id=song.id) }}">
        <button type="submit" class="btn btn-warning">Edit</button>
      </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}