{% extends "layout.html" %} 
{% block body %}

<form method="POST" action="{{ url_for('songs_create') }}">
  <div class="form-group">
    <label for="{{ form.name.id }}" class="control-label">{{ form.name.label }}
    </label>
    <div>
      {{ form.name(class_='form-control') }}
    </div>
    {% if form.name.errors %} {% for error in form.name.errors %}
    <small class="form-text text-muted">{{ error }}</small>
    {% endfor %} {% endif %}
  </div>
  <div class="form-group">
    <label for="{{ form.artist.id }}" class="control-label">{{ form.artist.label }}
    </label>
    <div>
      {{ form.artist(class_='form-control') }}
    </div>
    {% if form.artist.errors %} {% for error in form.artist.errors %}
    <small class="form-text text-muted">{{ error }}</small>
    {% endfor %} {% endif %}
  </div>
  <div class="form-group">
    <label for="{{ form.songkey.id }}" class="control-label">{{ form.songkey.label }}
    </label>
    <div>
      {{ form.songkey(class_='form-control') }}
    </div>
    {% if form.songkey.errors %} {% for error in form.songkey.errors %}
    <small class="form-text text-muted">{{ error }}</small>
    {% endfor %} {% endif %}
  </div>
  <div class="form-group">
    <label for="{{ form.length.id }}" class="control-label">{{ form.length.label }}
    </label>
    <div>
      {{ form.length(class_='form-control') }}
    </div>
    {% if form.length.errors %} {% for error in form.length.errors %}
    <small class="form-text text-muted">{{ error }}</small>
    {% endfor %} {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Add a new song</button>

</form>  
      
{% endblock %}