{% extends "layout.html" %} {% block body %}
<form method="POST" action="{{ url_for('setlists_create') }}">
  <div class="form-group">
    <label for="{{ form.name.id }}" class="control-label">{{ form.name.label }}
    </label>
    <div>
      {{ form.name(class_='form-control') }}
    </div>
    {% if form.name.errors %} {% for error in form.name.errors %}
    <small class="form-text text-muted">{{ error }}</small>
    {% endfor %} {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Add a new setlist</button>

</form>
{% endblock %}