{% extends "layout.html" %}

{% block body %}


<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Ordering a setlist</h4>
    <p>
      Songs in a setlist are ordered by the 'Notes' column.
      You can order your setlist by adding the desired index in
      the beginning of your notes. 
    </p>
    <hr>
    <p>e.g.</p>
    <p><kbd>1. Song structure: AABA</kbd></p>
    <p><kbd>2. Remember to look cool</kbd></p>
</div>

<h2>Setlist: {{ setlist.name }}</h2>
<h5>Length (minutes:seconds): <time>{{ lengthMinutes }}:{{ lengthSeconds }}</time></h5>
<style>
  table { table-layout: fixed; }
  table th, table td {overflow: hidden; }
</style>

<table class="table">
<thead>
  <tr>
    <th style="width: 20%">Name</th>
    <th style="width: 20%">Artist</th>
    <th style="width: 10%">Key</th>
    <th style="width: 40%">Notes</th>
    <th style="width: 10%"></th>
  </tr>
</thead>
<tbody>
    
  {% for song in songs %}
  <tr>
    <td>{{ song.name }}</td>
    <td>{{ song.artist }}</td>
    <td>{{ song.songkey }}</td>
    <td>{{ song.notes }}</td>
    <td><a href="{{ url_for('setlistsongs_edit', setlistsong_id = song.id) }}">Edit</a></td>
    
</tr>

  {% endfor %}
</table>
{% endblock %}