{% extends "layout.html" %} {% block body %} 
{% if error %}
<div class="alert alert-warning" role="alert">
      <p>{{ error }}</p>
</div>
{% endif %}

<form method="POST" action="{{ url_for('auth_login') }}">
      <div class="form-group">
            <label for="{{ form.username.id }}" class="control-label">{{ form.username.label }}
            </label>
            <div>
                  {{ form.username(class_='form-control') }}
            </div>
      </div>
      <div class="form-group">
            <label for="{{ form.password.id }}" class="control-label">{{ form.password.label }}
            </label>
            <div>
                  {{ form.password(class_='form-control') }}
            </div>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>

</form>
{% endblock %}