{% extends "layout.html" %} {% block body %} 

<div class="alert alert-info" role="alert">
        <p>All fields must be between 3 and 144 characters long.</p>
</div>
{% if error %}
<div class="alert alert-warning" role="alert">
      <p>{{ error }}</p>
</div>
{% endif %}
<form method="POST" action="{{ url_for('auth_signup_new') }}">
    <div class="form-group">
        <label for="{{ form.username.id }}" class="control-label">{{ form.username.label }}
        </label>
        <div>
            {{ form.username(class_='form-control') }}
        </div>
        {% if form.username.errors %} {% for error in form.username.errors %}
        <small class="form-text text-muted">{{ error }}</small>
        {% endfor %} {% endif %}
    </div>
    <div class="form-group">
        <label for="{{ form.password.id }}" class="control-label">{{ form.password.label }}
        </label>
        <div>
            {{ form.password(class_='form-control') }}
        </div>
        {% if form.password.errors %} {% for error in form.password.errors %}
        <small class="form-text text-muted">{{ error }}</small>
        {% endfor %} {% endif %}
    </div>
    <div class="form-group">
        <label for="{{ form.name.id }}" class="control-label">{{ form.name.label }} (Used only to greet you on the top right corner of the page after you've logged in, your username is used for everything else.)
        </label>
        <div>
            {{ form.name(class_='form-control') }}
        </div>
        {% if form.name.errors %} {% for error in form.name.errors %}
        <small class="form-text text-muted">{{ error }}</small>
        {% endfor %} {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Create account</button>

</form>
{% endblock %}